{:deps    {org.clojure/clojure {:mvn/version "1.10.0"}
           squeeze             {:mvn/version "0.3.3"}
           spec-coerce
           {;;:mvn/version "1.0.0-alpha13"
            :git/url "https://github.com/WhittlesJr/spec-coerce.git"
            :sha     "88cbce6c306ffc066f583a4d19abbea5860890a8"}}
 :aliases {:dev  {:extra-deps {cheshire {:mvn/version "5.8.1"}}}
           :test {:extra-paths ["test"]
                  :extra-deps  {cheshire {:mvn/version "5.8.1"}
                                com.cognitect/test-runner
                                {:git/url "git@github.com:cognitect-labs/test-runner"
                                 :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}}
 :paths   ["src"]}
